color {background-color: rgba(9, 3, 36, 0.884)}
h1 {
    color:blue
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box
    margin  0
    padding 0
    ;
}
body > header {
    background-color:rgb(248, 10, 10);
    pedding: 16x 0;
    color:#f5f5fa

}
header .container{
    display: flex
    align-items center;
    justify-content:space-between
}


.container {
    width: 1366px;
    margin: 12;
}

.article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section{
    padding: 16px auto;
    margin: 5%;
    color: #fff7f7;
}

h2 {
    color: #fff7f7;
    margin: 10;
    padding: auto;
}

button {
    color: #0059ff;
}
#Esportes{
    background-color:  rgba(9, 3, 36, 0.884);
}

#Financeiro{
    background-color:  rgba(9, 3, 36, 0.884);
}
